<% include head %>
<body class="bg-light">
<!-- Navbar  -->
<% include navbar %>

<!-- Content Page -->
<div class="clearfix">
    <div class="background-homepage float-left text-white" id="img-background">
        .
    </div>
    <% include signup %>

</div>
<!-- Script Footer -->
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({ html: true });
    });
</script>
<% include end %>