<nav class="navbar navbar-expand-xl bg-dark navbar-dark">
    <form class="form-inline search-input" action="/search">
        <input type="text" style="width: 100%" class="form-control form-control-sm ml-2"
            placeholder="Tìm kiếm..." />
    </form>

    <a class="navbar-brand" href="/">
        <img class="navbar-logo-style" src="/images/logo.png"
            style="width:28px;height:28px;margin-left:10px" />
    </a>
    <div class="feature-group">
        <a href="" class="btn btn-dark" data-toggle="popover">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div id="notification">
        <a href="" class="btn btn-dark" data-toggle="popover" data-content="<a href='#'>Trung Thành đã đăng 1 bài viết mới</a><br/>
        <a href='#'>Trung Thành đã bình luận bài viết của bạn</a>" data-placement="bottom">
            <i class="fa fa-bell-o"></i>
        </a>
    </div>
    <div>
        <a href="/home" class="btn btn-dark">
            <i class="fa fa-address-card-o"></i>
        </a>
    </div>
</nav>