<% include head %>

<% include navbar %>

<button style="width:100%" type="button" class="btn btn-outline-danger">
    <h1>
        Lưu bài viết thành công bấm <a href="/home">vào đây</a> để quay lại trang chủ
    </h1>
</button>

<% include end %>