<form action="/home" method="post">
    <div class="input-group mb-2">
        <input type="text" class="form-control" name="sign_in_id" placeholder="tài khoản hoặc email">
    </div>
    <div class="input-group mb-2">
        <input type="password" class="form-control" name="sign_in_pw" placeholder="mật khẩu">
    </div>
    <p><button class="btn btn-success">Đăng nhập</button><span> hoặc đăng ký theo form dưới đây</span></p>
</form>